body{
    text-align: center;
    transition: background 0.5s ease-in-out;
}
h1{
    font-size: 120px;
}
button{
    height: 100px;
    width: 190px;
    font-size: 50px;
    background-color: cornflowerblue;
    color: white;

}
#on:hover{
    cursor: pointer;
    background-color: cornsilk;
    color:black;
}
#off:hover{
    cursor: pointer;
    background-color: cornsilk;
    color:black;
}

.light{
    background-color: white;
    color:blue;
}
.dark{
    background-color: black;
    color: blue;
}
